body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;  
}

.author {
  font-weight: bold;
}

.comment-container {
  margin-top: 20px;
}

.comment {
  background-color: #f9f9f9;
  border: 1px solid #d9d9d9;
  padding: 16px;
  margin-bottom: 16px;
}

.user {
  display: flex;
  align-items: center;
}

.user i {
  margin-right: 10px;
}